<p>
<% if current_user.friends.find_by(id: user.id) %>
<%= render partial: 'friends/friend', locals: {friend: user} %>
<% elsif current_user.sent_requests.find_by(requestee_id: user.id) %>
<div class="user-text">
  <%= user.name %> <%= gravatar_for user, size:40 %>
</div>
<%= link_to 'Cancel Pending Friend Request' ,
    friend_request_path(current_user.sent_requests.find_by(requestee_id: user.id)),
    method: :delete,
   class: "btn btn-outline-info btn-sm"

%>
<% elsif current_user.received_requests.find_by(requestor_id: user.id) %>
<div class="user-text">
  <%= user.name %> <%= gravatar_for user, size:40 %>
</div>

  <%= form_for current_user.friendships.build do |f| %>
    <%= hidden_field_tag :friend_id , user.id %>
    <%= f.submit 'Accept Friend Request', class: 'btn btn-outline-success btn-sm' %>
  <% end %>
<% else %>
<div class="user-text">
  <%= user.name %>  <%= gravatar_for user, size:40 %>
</div>
  <%= form_for current_user.sent_requests.build do |f| %>
    <%= hidden_field_tag :requestee_id, user.id %>
    <%= f.submit 'Send Friend Request', class: 'btn btn-outline-primary btn-sm' %>
  <% end %>
<% end %>
</p>
