<%= form_with(model: post, local: true, url: yield(:submit_link)) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class = 'alert-danger form-errors'>
      <h6><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h6>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.text_area :body, placeholder: 'Type your post here',
      class: 'form-control', rows: '10' %>
  </div>

  <div class="actions">
    <%= form.submit  class: 'btn btn-primary'%>
  </div>
<% end %>
